body {
  background-color: rgb(38, 48, 48);
}

#navBar {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

#profile {
  display: flex;
  justify-content: flex-start;
  margin-top: 50px;
  height: 1000px;
  width: 300px;
}

#profileStat {
  font-size: 10px;
}

#pf-stats {
  display: flex;
  justify-content: space-between;
}

#contact-pf-stats {
  font-size: 14px;
  display: flex;
  margin: 0px;
}

#highlight {
  font-size: 15px;
  margin: 0px;
}

#org {
  width: 40px;
  height: 40px;
  border-radius: 7px;
}

#sponsor {
  width: 35px;
  height: 35px;
  border-radius: 25px;
}

#pageContent {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#pinnedTitle {
  color: white;
  margin-left: 20px;
  margin-top: 50px;
}

#pinnedRepos {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
}

#pinnedRepos > div {
  margin: 2rem;
}

#content-container {
  display: flex;
  justify-content: center;
}

#newProjectForm {
  margin-left: 20px;
}

#project-form-title {
  color: white;
  margin-top: 30px;
}

.form-label {
  color: white;
}

#footer {
  margin-top: 150px;
}

.card-title {
  font-size: 30px;
  color: blue;
}

.card-description {
  font-size: 20px;
}

.card-tags {
  font-size: 15px;
  color: grey;
}
